.main-head>div>div>ul>li>a{
    color:white;
}

.bac{
    background-image: url('https://static.naukimg.com/s/7/132/i/header-bg.42efb259.jpg');
}

.card-row1 {
    height: 360px;
    margin-bottom: 15px;
}
.media-card {
    width: 500px;
    display: inline-block;
    height: 100%;
    padding: 10px 8px;
}
.talkUsWrap {
    line-height: 50px;
    margin-bottom: 50px;
}
.talkToUsContainer {
    height: 100%;
    padding: 95px;
    font-size: 13px;
    color: #fff;
    text-align: left;
    line-height: 21px;
    /* background-image: linear-gradient(-135deg, #17ead9, #6078ea); */
    background: url('https://static.naukimg.com/s/7/132/i/contact-bg.5e06833d.jpg') no-repeat;
    cursor: default;
}
.talkToUsContainer .title {
    font-size: 16px;
    font-weight: 500;
}
.greyBand {
    background: #f5f6f6;
    padding: 40px 0;
    margin-top: 30px;
    min-height: 155px;
}
.greyBand .wrap {
    width: 990px;
    margin: auto;
}
.media-card .cards {
    height: 100%;
    box-shadow: 0 5px 10px 2px rgba(195, 192, 192, .2);
    display: block;
    color: #333;
    background: #fff;
}
.contact-us form .row {
    margin: 15px 0 0;
    
}
.contact-us form .row {
    margin: 15px 0 0;
}
.contact-us form .row .callMeBackBtn {
    background: #4a90e2;
    box-shadow: none;
    padding: 0 2rem;
    border: none;
    height: 36px;
    width: 104%;
    border-radius: 4px;
}
.contact-us form .row input {
    margin: 0;
    background-color: #fff;
    width: 100%;
    height: 35px;
    border: 1px solid #ddd;
    font-size: 12px;
    padding-left: 10px;
    color: #000;
}
.contact-us form .row label {
    font-size: 13px;
    display: block;
    color: #333;
    cursor: auto;
}
.contactContainer .subHead .infoText {
    color: #666;
    font-family: Roboto, sans-serif;
    font-size: 11px;
    width: 88%;
    font-style: normal;
    display: block;
    font-weight: 400;
    line-height: 12px;
}
.contactContainer .subHead {
    font-size: 11px;
    color: #666;
    margin-bottom: 10px;
}
.contactContainer .title {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #333;
}
.contact-us {
    width: 345px;
    margin: auto;
}
.contactContainer {
    margin: auto;
    padding-top: 25px;
    width: 345px;
    cursor: default;
}
.figure{
    margin: 0;
    position: relative;
    background-image: linear-gradient(-225deg, #f7f7f7, #fff);
    width: 100%;
    background-size: cover;
}
.box-img{
    height: 134px;
    align-content: center;
    margin-left: 117px;
    margin-top: 45px;
}
.contactUs {
    height: 595px;
    margin-bottom: 20px;
    display: flex;
}