<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <img src="brand.png" alt="image" height="50" width="110">
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav ms-auto me-4 mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Register</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<nav class="navbar navbar-expand-lg main-head" style="background-color:#444444">
    <div class="container-fluid">

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Resume Writing
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Text Resume</a></li>
                        <li><a class="dropdown-item" href="#">Visual Resume</a></li>
                        <li><a class="dropdown-item" href="#">Resume Samples</a></li>
                        <li><a class="dropdown-item" href="#">Visual Resume Samples</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Resume Spotlight</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Resume Maker</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Resume Critique</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Resume Quality Score</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">FAQ</a>
                </li>

            </ul>
        </div>
    </div>
</nav>
<div class="pt-2" style="background-color: #fec923; height:68px; text-align:center">Flat % OFF on All Services<br>
    Promo code , Limited Period Offer
</div>
<div class="bac text-center" style="color:white; height:290px; position:absolute;width:100%; z-index:-1">
    <span style="font-size: 30px;">Move ahead in career, faster</span><br>
    <span style="font-size: 16px;">with our paid services</span>
</div>
<div style="width:1035px; margin:0 auto;">
    <div class="card-row1">
        <div class="media-card layer resumedisplaygulf">
            <div class="card" style="width: 500px;margin-top:100px">
                <div style="height:180px" class="figure">
                    <img src="image.png" class="box-img" alt="..." style="background: transparent;">
                </div>
                <div class="card-body">
                    <h5 class="card-title">RESUME SPOTLIGHT</h5>
                    <p class="card-text">Increase your Profile visibility to recruiters upto 3 times.<br>
                        Get a Featured Profile, Stand out and get noticed in recruiter eyes.</p>
                    <a href="#" class="btn" style="color:blue;margin-left:344px">KNOW MORE</a>
                </div>
            </div>
        </div>
        <div style="margin-left:20px" class="media-card layer resumedisplaygulf">
            <div class="card" style="width: 500px;margin-top:100px">
                <div style="height:180px" class="figure">
                    <img src="image.png" class="box-img" alt="..." style="background: transparent;">
                </div>
                <div class="card-body">
                    <h5 class="card-title">RESUME CRITIQUE</h5>
                    <p class="card-text">Increase your Profile visibility to recruiters upto 3 times.<br>
                        Get a Featured Profile, Stand out and get noticed in recruiter eyes.</p>
                    <a href="#" class="btn" style="color:blue;margin-left:344px">KNOW MORE</a>
                </div>
            </div>
        </div>
    </div>

    <div class="card-row1" style="height:250px">
        <div class="media-card layer resumedisplaygulf" style="HEIGHT: 250PX;width: 700px">
            <div class="card" style="margin-top:100px;height: 314px">
                <div style="height:180px" class="figure">
                    <img src="image.png" class="box-img" alt="..." style="background: transparent;padding-left:80px">
                </div>
                <div class="card-body">
                    <h5 class="card-title">RESUME SPOTLIGHT</h5>
                    <p class="card-text">Increase your Profile visibility to recruiters upto 3 times.<br>

                        <a href="#" class="btn" style="color:blue;margin-left:520px; margin-top:20px">KNOW MORE</a>
                </div>
            </div>
        </div>
        <div style="margin-left:5px; WIDTH:330PX; height: 400px" class="media-card layer resumedisplaygulf">
            <div class="card" style="width: 300px;margin-top:100px;height: 314px">
                <div style="height:180px" class="figure">
                    <img src="image.png" class="box-img" alt="..." style="background: transparent;margin-left:20px">
                </div>
                <div class="card-body">
                    <h5 class="card-title">RESUME CRITIQUE</h5>
                    <p class="card-text">Increase your Profile visibility to recruiters upto 3 times.<br>

                        <a href="#" class="btn" style="color:blue;margin-left:140px">KNOW MORE</a>
                </div>
            </div>
        </div>
    </div>

    <div class="card" style="width: 97%;margin-top: 200px; margin-left:9px">
        <div class="card-body">
            <h5 class="card-title">See Samples</h5>
            <p class="card-text">View select text resume, visual resume and cover letter samples across industries</p>
            <a href="#" class="card-link btn" style="color:blue">Text Resume</a>
            <a href="#" class="card-link btn" style="color:blue">Visual Resume</a>
        </div>
    </div>

    <div class="contactUs">
        <div class="media-card layer w-50">
            <div class="cards waves-effect">
                <div class="talkToUsContainer">
                    <div class="talkUsWrap">
                        <div class="title"><i class="ffGulficon ffGulficon-talkToUs"></i>Talk to Us</div>
                        <div> Call us: <span class="phoneNo">0091120-4021100 (9:30 AM to 6:30 PM IST)</span></div>
                        <div>International Customer Call: <span class="phoneNo">+91-120-4021100</span></div>
                        <div><span class="phoneNo">+800035703849 (Tollfree from UAE)</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="media-card layer">
            <div class="cards waves-effect auto-overflow">
                <div class="contactContainer">
                    <div class="contact-us">
                        <div class="title">CONTACT US</div>
                        <div class="subHead">
                            <div class="infoText">The information will only be used to reach out to you for Naukri
                                related services.</div>
                        </div>
                        <form name="contactHome" id="contactHome">
                            <div class="row">
                                <div><label for="name" class="required-field">Name</label><input type="text"
                                        rel="required:1000,alphaDS:1001,name:1000|blur" id="name" name="NAME"
                                        maxlength="100" placeholder="Type your name here"><span class="erLbl"
                                        id="name_err"></span></div>
                            </div>
                            <div class="row">
                                <div><label for="email" class="required-field">Email ID</label><input type="text"
                                        rel="required:1002,email:1003|blur" id="email" name="EMAIL" maxlength="100"
                                        placeholder="Type your email ID"><span class="erLbl" id="email_err"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div><label for="mobile" class="required-field">Mobile</label><input type="text"
                                        id="mobile" minlength="10" maxlength="15"
                                        rel="required:2000,charRange:2001,num:2001|blur" name="CONT_NO"
                                        placeholder="Type your mobile number"><span class="erLbl"
                                        id="mobile_err"></span></div>
                            </div>
                            <div class="row">
                                <div><label for="message required-field" class="required-field">Write your query
                                        here</label><input rel="required:3000|blur" id="message" maxlength="600"
                                        name="COMMENTS" placeholder="e.g. I am interested"><span class="erLbl"
                                        id="message_err"></span></div>
                            </div>

                            <div class="row">
                                <div><label for="message required-field"
                                        class="required-field">Nationality</label><input rel="required:3000|blur"
                                        id="message" maxlength="600" name="COMMENTS" placeholder="e.g. Indian"><span
                                        class="erLbl" id="message_err"></span></div>
                            </div>

                            <div class="row buttons-container">
                                <div><button type="submit" class="waves-effect waves-light btn btn-block callMeBackBtn "
                                        style="color:white;font-weight: 600;">Call Me Back</button></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div id="carouselExampleRide" class="carousel slide" data-bs-ride="true"
    style="padding:40px;background-color: lightgrey;">
    <div class="carousel-inner" style="padding-left: 250px;">
        <div class="carousel-item active">
            <i class="fa-solid fa-quote-left" style="font-size: 116px; color: grey;"></i>
            I appreciate your efforts & valuable assistance to develop my professional profile.
            <br>
            <span style="margin-left:105px">Sagar R. Kshirsagar</span><br>
            <span style="margin-left:105px">Finance, 12 years work exp.</span>
            <!-- <img src="image.png" class="d-block w-100" alt="..."> -->
        </div>
        <div class="carousel-item">
            <i class="fa-solid fa-quote-left" style="font-size: 116px; color: grey;"></i>
            Thank you for a precise resume and for an early response.



            <br>
            <span style="margin-left:105px">Soumic Bhattacharya</span><br>
            <span style="margin-left:105px">Design Engineering / Research & Development , 2 years work exp</span>
            <!-- <img src="image.png" class="d-block w-100" alt="..."> -->
        </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="prev" style="background-color: darkgray;">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="next" style="background-color: darkgray;">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<div class="card">
    <div class="card-body">
        <h5 class="card-title">naukriGulf.com</h5>
        <p class="card-text" style="margin-left:200px;margin-right:200px">Disclaimer:
            <br>While Naukri FastForward services have helped many customers over the years, we do not guarantee any interview calls or assure any job offers with any of our services. Naukri FastForward may also contact the User through SMS, internet-based messaging applications like WhatsApp, voice call, e-mail for any pending or failed transactions, to assist user in concluding the purchase of Naukri FastForward services
            <br>The User hereby unconditionally consents that such communications via SMS, internet-based messaging applications like WhatsApp, voice call, email or any other mode by Naukri FastForward are:
            <br>1) upon the request and authorization of the User.
            <br>2) 'transactional' and not an 'unsolicited commercial communication' as per the guidelines of Telecom Regulation Authority of India (TRAI), and
            <br>3) in compliance with the relevant guidelines of TRAI or such other authority in India and abroad.
            <br>The User will indemnify Naukri FastForward against all types of losses and damages incurred by Naukri FastForward due to any action taken by TRAI, Access Providers (as per TRAI regulations) or any other authority due to any erroneous complaint raised by the User on Naukri FastForward with respect to the communications mentioned above or due to a wrong number or email id being provided by the User for any reason whatsoever.</p>
        <a href="#" class="btn" style="color:blue">Home</a>
        <a href="#" class="btn" style="color:blue">Fraud</a>
        <a href="#" class="btn" style="color:blue">About Us</a>
        <a href="#" class="btn" style="color:blue">Contact Us</a>
        <a href="#" class="btn" style="color:blue">Terms & Conditions</a>
    </div>
</div>